@import url(./variables.scss);
main {
    max-width: var(--maxWidth);
    width: 100%;
    margin: 1.5rem auto;
    padding: 0rem 4rem;
    .card-container {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
}

@media screen and (max-width: 576px) {
    main {
        max-width: var(--maxWidth);
        width: 100%;
        margin: 1.5rem auto;
        padding: 0rem 1rem;
        .card-container {
        }
    }
}
