.pokemon-details-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-color: transparent;
  -webkit-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
}

.pokemon-details-container .container {
  z-index: 11;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: max-height 0.8s ease-in-out;
  transition: max-height 0.8s ease-in-out;
  height: auto;
  max-height: 0px;
  overflow: hidden;
  background-color: var(--primary-500);
  -webkit-box-shadow: var(--dark-shadow);
          box-shadow: var(--dark-shadow);
  border-radius: var(--radius);
  width: 80%;
  max-width: 400px;
}

.pokemon-details-container .container .content {
  padding: 2rem 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  margin: 0rem auto;
}

.pokemon-details-container .container .content h1 {
  width: 100%;
  color: var(--white);
  letter-spacing: var(--spacing);
  text-shadow: var(--dark-shadow);
  font-size: clamp(1.5rem, 8vw, 2.5rem);
  text-align: center;
  text-transform: uppercase;
}

.pokemon-details-container .container .content img {
  display: block;
  margin: 1rem auto;
  max-width: 300px;
  height: auto;
  width: 100% !important;
  padding: 0rem 1rem;
}

.pokemon-details-container .container .content .abilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokemon-details-container .container .content .abilities h2 {
  margin: 0.5rem 1rem;
  background-color: var(--black);
  border-radius: 10000px;
  padding: 0.25rem 1rem;
  word-break: keep-all;
  line-break: normal;
  color: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.pokemon-details-container .container .content .measurements {
  margin: 1rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pokemon-details-container .container .content .measurements h2 {
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5rem 1rem;
  background-color: var(--primary-700);
  border-radius: 10000px;
  padding: 0.25rem 1rem;
  word-break: keep-all;
  line-break: strict;
  color: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.pokemon-details-container .container .content .back-button {
  position: static;
  border: none;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.8;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primary-500);
  text-shadow: var(--dark-shadow);
  background-color: var(--black);
  -webkit-box-shadow: var(--button-shadow);
          box-shadow: var(--button-shadow);
  border-radius: var(--radius);
  -webkit-transition: var(--mainTransition);
  transition: var(--mainTransition);
  padding: 0.5rem 3rem;
  text-align: center;
  cursor: pointer;
  margin: 2rem auto 0rem auto;
  letter-spacing: var(--spacing);
}

.pokemon-details-container .container .content .back-button:hover {
  color: var(--black);
  background-color: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.active {
  max-height: 100% !important;
}

.pokemon-details-container.active {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

.pokemon-details-container.active .container {
  max-height: 100%;
}

@media screen and (max-width: 576px) {
  .pokemon-details-container .container {
    width: 90%;
    max-width: 400px;
    overflow: scroll;
  }
  .pokemon-details-container .container .content {
    padding: 2rem 0rem;
  }
  .pokemon-details-container .container .content img {
    max-width: 200px;
  }
  .pokemon-details-container .container .content .measurements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=pokemonDetails.css.map */