/*
=============== 
Variables
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700;900&display=swap");
:root {
  --primary-100: hsl(33, 91%, 90%);
  --primary-200: hsl(33, 91%, 80%);
  --primary-300: hsl(33, 91%, 70%);
  --primary-400: hsl(33, 91%, 60%);
  --primary-500: hsl(33, 91%, 50%);
  --primary-600: hsl(33, 91%, 40%);
  --primary-700: hsl(33, 91%, 30%);
  --primary-800: hsl(33, 91%, 20%);
  --primary-900: hsl(33, 91%, 10%);
  --white: #fff;
  --black: #222;
  --transition: all 0.3s linear;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1200px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--primary-200);
  color: var(--black);
  line-height: 1.5;
  font-size: 0.875rem;
}

.card {
  width: 100%;
  max-width: 320px;
  margin: 0rem auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--white);
  padding: 1rem 2rem;
  border-radius: var(--radius);
  text-align: center;
  padding: 2rem;
  -webkit-box-shadow: var(--dark-shadow);
          box-shadow: var(--dark-shadow);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  width: 100%;
  max-width: 320px;
  height: fit-content;
  display: flex;
}

.card:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
  -webkit-box-shadow: var(--dark-shadow);
          box-shadow: var(--dark-shadow);
}

.card h4 {
  margin-bottom: 0.15rem;
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  text-shadow: var(--light-shadow);
}

.card a {
  display: block;
  color: var(--white);
  text-shadow: var(--dark-shadow);
  text-transform: uppercase;
  text-decoration: none;
  background: var(--primary-500);
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  border-radius: var(--radius);
  -webkit-box-shadow: var(--light-shadow);
          box-shadow: var(--light-shadow);
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.card a:hover {
  background: var(--primary-400);
  color: var(--black);
}

.container {
  text-align: center;
  width: 80vw;
  margin: 3rem auto;
  max-width: var(--max-width);
  padding: 0rem 1rem;
}

.container h1 {
  color: var(--black);
  text-shadow: var(--light-shadow);
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 2.5rem;
  font-size: clamp(2rem, 10vw, 3rem);
}

.container .users {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 0rem auto;
}

.container .users li {
  width: 100%;
  max-width: 320px;
  margin: 0rem auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--white);
  padding: 1rem 2rem;
  border-radius: var(--radius);
  text-align: center;
  padding: 2rem;
  -webkit-box-shadow: var(--dark-shadow);
          box-shadow: var(--dark-shadow);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  display: flex;
}

.container .users li:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.container .users li img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
  -webkit-box-shadow: var(--dark-shadow);
          box-shadow: var(--dark-shadow);
}

.container .users li h4 {
  margin-bottom: 0.15rem;
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  text-shadow: var(--light-shadow);
}

.container .users li a {
  display: block;
  color: var(--white);
  text-shadow: var(--dark-shadow);
  text-transform: uppercase;
  text-decoration: none;
  background: var(--primary-500);
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  border-radius: var(--radius);
  -webkit-box-shadow: var(--light-shadow);
          box-shadow: var(--light-shadow);
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.container .users li a:hover {
  background: var(--primary-400);
  color: var(--black);
}

@media screen and (max-width: 576px) {
  .container {
    text-align: center;
    width: 100%;
    margin: 2rem auto;
  }
  .container h1 {
    margin-bottom: 1.5rem;
  }
  .container .users {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0rem auto;
  }
  .container .users li {
    width: 100%;
    max-width: 320px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
/*# sourceMappingURL=style.css.map */